<!DOCTYPE html>
<html lang="en">
<title>{{{title}}}</title>
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Node Express Practice Apps">
<head>
{{#if (isDev)}}
<script src="/js/eruda.min.js" onload="eruda.init()"></script>
{{/if}}
<script>{{{loadFiles}}}</script>
<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/favicon.png">
<style>
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
* {
	font-family: Fredoka;
}
body{opacity:0;}
</style>
</head>
<body class="m-n opct-1 grey-white h-100vh">
	
<nav id="mainNav" class="d-b bb pos-rel dnl-bg p-s d-grd gtc-50px_auto">
	<div id="hmbgr" onclick="thmbgr(tsp)"> <hr /><hr /><hr /> </div>
	<div class="t-c f-xl fw-600 p" id="mainH">
		{{{mainHeading}}}
	</div>
</nav>

<div id="sidePanel" class="">
	<a href="/"  class="item" view="index" > HOME </a>
	<div class="item"> Contact me </div>
	<div class="item"> About me </div>
</div>

	<div id="body" class="st viewport pc(pos-rel,w-500p,left-50pg,m-L-_250p)">
	{{{body}}}
	</div>
</body>

<script>
window.isDev = {{{isDev}}}
window.__appV = {{{appV}}};
if ( __appV == 0 || parseInt(localStorage.getItem("fileV") || "0") != __appV){
	for(let item of Object.keys(localStorage)) {
		if ( item.startsWith("book") || item == "lastYtdlVideo")  continue;
		localStorage.removeItem(item)
	}
};
window.loadF = Object.create(cacheF);
let js = ("{{{jsFiles}}}").split(",").map( j => "/js/"+j);
let jsFiles = isDev ? js  : ["js/aio.js"];
let cssf = ("{{{cssFiles}}}").split(",").map( c => "/css/"+c);
let cssFiles = isDev ? cssf : ["css/styles.css"]
loadF.files = [
	...cssFiles,
	...jsFiles
];

let pwd = "{{{pwd}}}";
loadF.init({logging: 1, appV :  __appV});
history.pushState({ view : location.href.split("/").at(-1).split("?")[0].split(".")[0] } , "", "")

{{#if (isDev)}}
	let worker = new Worker("js/liveReload.js");
	worker.onmessage = function (e) {
		location.href = location.href;
	}
{{/if}}

</script>

</html>