<!DOCTYPE html>
<html lang="en">
<title>{{{title}}}</title>
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Node Express Practice Apps">
<head>
{{#if (isPro)}}
	<script> if ( location.href.startsWith("http") && ! location.href.includes("localhost") ) location.href = "https" + location.href.slice(4); </script >
{{/if}}
<script>{{{loadFiles}}}</script>
<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/favicon.png">
<style>
/*@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');*/
* {
	font-family: Fredoka, sans-serif, cambria,calibri;
	font-weight: 300;
}

{{#if (isPro)}}
#body, nav, #sidePanel {
	opacity: 0;
}
{{/if}}

</style>
</head>
<body>
	
<nav id="mainNav" class="dnl-bg">
	<div id="hmbgr" onclick="hmbgr.t(sp.t)"> <hr /><hr /><hr /> </div>
	<div id="mainH">
		{{{mainHeading}}}
	</div>
</nav>

<div id="sidePanel" class="">
	<a href="/"  class="item" view="index" > HOME </a>
	<div class="item"> Contact me </div>
	<div class="item"> About me </div>
</div>

	<div id="body" class="viewport">
	{{{body}}}
	</div>
</body>

<script>
window.isDev = {{{isDev}}}
window.__appV = {{{appV}}};
if ( __appV == 0 || parseInt(localStorage.getItem("fileV") || "0") != __appV){
	for(let item of Object.keys(localStorage)) {
		if ( item.startsWith("book") || item.startsWith("eruda")  || item == "lastYtdlVideo")  continue;
		localStorage.removeItem(item)
	}
};
window.loadF = Object.create(cacheF);
let js = ("{{{jsFiles}}}").split(",").map( j => "/js/"+j);
let jsFiles = isDev ? js  : ["js/aio.js"];
let cssf = ("{{{cssFiles}}}").split(",").map( c => "/css/"+c);
let cssFiles = isDev ? cssf : ["css/styles.css"]
loadF.files = [
	...cssFiles,
	...jsFiles
];
let pwd = "{{{pwd}}}";
loadF.init({logging: 1, appV :  __appV, cb : () => { $("style").innerHTML += `#body, nav, #sidePanel {opacity: 1;} .spinner {opacity: 0;}` }});
history.pushState({ view : location.href.split("/").at(-1).split("?")[0].split(".")[0] } , "", "");
{{#if (isDev)}}
	let worker = new Worker("js/liveReload.js");
	worker.onmessage = function (e) {
		location.href = location.href;
	}
{{/if}}
if ('serviceWorker' in navigator)
	navigator.serviceWorker.register('js/sw.js');
</script>

</html>